In [1]:
import Pattern 
from tqdm import tqdm
import pandas as pd

In [2]:
def add_patterns(df) -> None:
    Pattern.doji(df)
    Pattern.DarkCloudCover(df)
    Pattern.Marubozu(df)
    Pattern.dragonfly_doji(df)
    Pattern.Engulf(df)
    Pattern.gravestone_doji(df)
    Pattern.Hammer_Hanging_Man(df)
    Pattern.Harami(df)
    Pattern.longleg_doji(df)
    Pattern.Inv_Hammer(df)

In [3]:
df = pd.read_csv("../data/cleaned_stocks/stock_0")
add_patterns(df)
df.head()

,time,Close,Open,High,Low,Doji,DarkCloud,Bull_Marubozu,Bear_Marubouzu,Dragonfly,BullEngulf,BearEngulf,Gravestone,Hammer,BullHarami,BearHarami,LongLeg,Inv_Hammer
0,2021-01-29 00:00:00,2068.95,2104.60,2130.00,2051.00,False,False,False,False,False,False,False,False,False,False,False,False,False
1,2021-02-17 00:00:00,2208.40,2191.75,2219.95,2170.10,False,False,False,False,False,False,False,False,False,False,False,False,False
2,2021-03-09 00:00:00,2357.75,2430.00,2494.00,2342.00,False,False,False,False,False,False,False,False,False,False,False,False,False
3,2021-03-26 00:00:00,2380.90,2380.00,2405.05,2350.25,True,False,False,False,False,False,False,False,False,False,False,False,False
4,2021-01-05 00:00:00,2194.20,2119.90,2219.00,2109.00,False,False,False,False,False,False,False,False,False,False,False,False,False

In [4]:
# applying this to all the csv files
count = 0
pbar = tqdm(total=1081)
while count < 1081:
    pbar.update(1)
    df = pd.read_csv(f"../data/cleaned_stocks/stock_{count}")
    add_patterns(df)
    df.to_csv(f"../data/with_patterns/stock_{count}.csv",index=False)
    count+=1

 99%|█████████▉| 1070/1081 [00:11<00:00, 105.30it/s]

100%|██████████| 1081/1081 [00:30<00:00, 105.30it/s]