In [5]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [6]:
df = pd.read_csv("../data/separated_stocks/stock_0")
df.head()

# We need to remove the stockid and the volume column
# We also need to add the time 00:00:00 with the date and rename that columns to time

   stockid        date    close     open     high      low   volume
0   100894  2021-01-29  2068.95  2104.60  2130.00  2051.00  15520.0
1   100894  2021-02-17  2208.40  2191.75  2219.95  2170.10  15004.0
2   100894  2021-03-09  2357.75  2430.00  2494.00  2342.00  31852.0
3   100894  2021-03-26  2380.90  2380.00  2405.05  2350.25  15680.0
4   100894  2021-01-05  2194.20  2119.90  2219.00  2109.00  89316.0

In [7]:
import os

_, _, files = next(os.walk("../data/separated_stocks/"))
file_count = len(files) 
print(f"The total number of CSV files is {file_count}")

The total number of CSV files is 1081

In [8]:
count = 0
pbar = tqdm(total=1081)
while count < 1081: 
    df = pd.read_csv(f"../data/separated_stocks/stock_{count}")
    cols = ["stockid","volume"]
    df.drop(columns=cols,inplace=True)
    df.rename(columns={"date":"time","high":"High","close":"Close","open":"Open","low":"Low"},inplace=True)
    df['time'] = df['time'].astype(str) + " 00:00:00" 
    df.to_csv(f"../data/cleaned_stocks/stock_{count}",index=False)
    pbar.update(1)
    count += 1

100%|██████████| 1081/1081 [00:18<00:00, 57.31it/s]